body, html {
  background-color: #efefef;
}

.row {
  margin: 0;
}

h4, h5, h6, ul, .blog-info, .sidebar {
  text-align: center;
}

/* Changelogg button */


.changeloggbutton {
	-moz-box-shadow: 0px 10px 14px -7px #e0d01b;
	-webkit-box-shadow: 0px 10px 14px -7px #e0d01b;
	box-shadow: 0px 10px 14px -7px #e0d01b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffea00), color-stop(1, #ffea00));
	background:-moz-linear-gradient(top, #ffea00 5%, #ffea00 100%);
	background:-webkit-linear-gradient(top, #ffea00 5%, #ffea00 100%);
	background:-o-linear-gradient(top, #ffea00 5%, #ffea00 100%);
	background:-ms-linear-gradient(top, #ffea00 5%, #ffea00 100%);
	background:linear-gradient(to bottom, #ffea00 5%, #ffea00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea00', endColorstr='#ffea00',GradientType=0);
	background-color:#ffea00;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffea00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.changeloggbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffea00), color-stop(1, #ffea00));
	background:-moz-linear-gradient(top, #ffea00 5%, #ffea00 100%);
	background:-webkit-linear-gradient(top, #ffea00 5%, #ffea00 100%);
	background:-o-linear-gradient(top, #ffea00 5%, #ffea00 100%);
	background:-ms-linear-gradient(top, #ffea00 5%, #ffea00 100%);
	background:linear-gradient(to bottom, #ffea00 5%, #ffea00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea00', endColorstr='#ffea00',GradientType=0);
	background-color:#ffea00;
}
.changeloggbutton:active {
	position:relative;
	top:1px;
}


 
/* Download button */

.downloadbutton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #72b352;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.downloadbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.downloadbutton:active {
	position:relative;
	top:1px;
}

/* Nav */

nav {
  background-color: #FAFFFD;
}

.nav-wrapper a {
  padding: 0px 10px 0px 10px;
  color: black;
}

.nav-wrapper li {
  transition: all 0.25s ease;
  border-bottom: 2px solid transparent;
}

.nav-wrapper li:hover {
  transition: all 0.25s ease;
  border-bottom: 2px solid #3C91E6;
}


/* Header */

.header {
  background-position: center top;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.header img {
  max-width: 25%;
}


/* Main */

.notification {
  text-align: center;
  background-color: #FA824C;
}

.main {
  padding: 25px 0px 25px 0px;
}

.staff-main .card-panel {
  margin-top: -5px;
}


/* Footer */

.page-footer {
  background-color: #342E37;
  color: white;
}

.page-footer .footer-copyright {
  background-color: #28232B;
  margin-top: 20px;
}

.page-footer a {
  color: #fff;
  transition: color .2s linear;
}

.page-footer a:hover {
  color: #3C91E6 !important;
}


/* Mobile Stuff */

@media screen and (max-width: 992px) {
  .header img {
    max-width: 50%;
  }
  .footer-content {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 993px) {
  .index-main {
    margin: 0px 60px 0px 60px;
  }
}
